*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #00c6a9;
  font-weight: bold;
  
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #00c6a9;
  font-weight: bold;
}
.glow{
    animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #eff7f5, 0 0 20px #169b87, 0 0 30px #37998a, 0 0 40px #87f7e6, 0 0 50px #72fce7, 0 0 60px #78f7e4, 0 0 70px #7af5e2;
    }
    to {
      text-shadow: 0 0 20px #ecf3f2, 0 0 30px #3d9c8e, 0 0 40px #99ece0, 0 0 50px #99f7e8, 0 0 60px #89eedf, 0 0 70px #80ebdb, 0 0 80px #8afceb;
    }
  }
/* contact section */
.nav_contact_infos p{
    display: inline;
    margin-right: 20px;
}

.nav_contact_infos{
    padding: 30px;
    
}

.color{
    color: #00c6a9;
    margin-right: 5px;
}

/* navbar section */
.nav_container{

    display: flex;
    justify-content: space-between;
    /* align-items: center;
    padding: 20px 80px; */
    background-color: #00c6a9;

}

.logo{
    width: 100px;
    background-color: white;
    margin-left: 30px;
    text-align: center;
    
}
.menus{
    display: flex;
    list-style: none;
    gap: 20px;
    text-align: center;
    padding: 40px 80px;
    color: white;
    
   
}
.login{
    display: flex;
    gap: 20px;
    padding: 40px 80px;
    color: white;
    
}

.play{
    color: #1ba893;
    animation: glow 1s ease-in-out infinite alternate;
    font-size: 4rem;
   


}

.banner_container{


    /* background-position: bottom right; */
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    
    
    
}
header{
    background-image: url('../images/dots.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}
.banner_header{
    margin-top: 40px;
    font-size: 50px;
}
.cian{
    color: #00c6a9;
}
.banner_description{
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.btn_black{
    background-color: black;
    padding: 15px 40px;
    color: white;
    border: none;
    border-radius: 5px;
}
.appoinment_box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.box_head{
    margin-left: 27px;
    margin-bottom: 10px;
    font-size: 30px;
  
    
}

input[type=text],input[type=number],input[type=date]{
    border: 1px solid #00c6a9;
    padding: 5px;
    width: 300px;
}

.hr{
    width: 100px;
    margin-left: 100px;
    margin-bottom: 40px;
    border: 1.5px solid #00c6a9;
}
select{
    border: 1px solid #00c6a9;
    padding: 5px;
    width: 300px;
}
legend{
    margin-top: 20px;
    
}

.appoinment_container{
    margin: 100px ;
    box-shadow: 0px 0px 8px 8px #ebe7e7;
    padding: 50px;
   
}
.btn_box{
    margin-left: 27px;
    margin-top: 20px;
    padding: 20px 50px;
    font-size: 17px;
}