*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* contact section */
.nav_contact_infos p{
    display: inline;
    margin-right: 20px;
}

.nav_contact_infos{
    padding: 30px;
    
}

.color{
    color: #00c6a9;
    margin-right: 5px;
}

/* navbar section */
.nav_container{

    display: flex;
    justify-content: space-between;
    /* align-items: center;
    padding: 20px 80px; */
    background-color: #00c6a9;

}

.logo{
    width: 100px;
    background-color: white;
    margin-left: 30px;
    text-align: center;
}
.menus{
    display: flex;
    list-style: none;
    gap: 20px;
    text-align: center;
    padding: 40px 80px;
    color: white;
    
   
}
.login{
    display: flex;
    gap: 20px;
    padding: 40px 80px;
    color: white;
    
}